# Python virtual environment
venv_py311/

# Python cache files
__pycache__/
*.pyc

# IDE specific files (VS Code)
.vscode/

# Distribution/build folders
dist/
build/
# *.spec

./ProjectAURA-FIXED-Release-20250829-0306.zip

FINAL_RELEASE/