# Python virtual environment
venv_py311/

# Python cache files
__pycache__/
*.pyc

# IDE specific files (VS Code)
.vscode/

# Distribution/build folders (for when we package the app)
dist/
build/
*.spec